/* 
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

#booking-form input,
select,
textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

#booking-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

#booking-form input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

#booking-form input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

#booking-form input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

#booking-form img {
    max-width: 100%;
    height: auto;
}

#booking-form figure {
    margin: 0;
}

#booking-form p {
    margin-bottom: 0px;
}

#booking-form h1 {
    line-height: 1.8;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: Poppins;
    font-size: 21px;
    text-align: center;
    margin-bottom: 28px;
}

#booking-form .clear {
    clear: both;
}

.outer {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    background-image: url("../images/form-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    font-weight: 600;
    font-family: Poppins;
    margin: 0px;
}

.outer {
    position: relative;
}

.searchBack {
    max-height: 90px;
    width: auto;
    padding: inherit;
    background: rgba(11, 13, 24, 0.6);

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}

#booking-form .booking-form {
    padding: 35px 70px 51px 70px;
}

#booking-form .header {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    padding: 50px 57px;
}

#booking-form input {
    border: none;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    display: block;
    font-family: Poppins;
    position: relative;
    z-index: 9;
}

#booking-form input::-webkit-input-placeholder {
    color: #999;
}

#booking-form input::-moz-placeholder {
    color: #999;
}

#booking-form input:-ms-input-placeholder {
    color: #999;
}

#booking-form input:-moz-placeholder {
    color: #999;
}

#booking-form .submit {
    background: #f8ba0f;
    color: #fff;
    font-size: 14px;
    margin-top: 23px;
    padding: 15px 20px;
    cursor: pointer;
}

#booking-form .submit:hover {
    background-color: #ce9906;
}

.searchBack label {
    ont-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
    display: block;
    color: white;
}

#quantity {
    color: #999;
}

#booking-form .form-group {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
}

#booking-form .form-destination {
    width: 230px;
}

#booking-form .form-date-from,
.form-date-to {
    width: 155px;
}

.form-quantity {
    width: 80px;
    position: relative;
}

#booking-form.form-submit {
    width: 140px;
}

#booking-form .modify-qty {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #e6d9d9;
    z-index: 99;
    cursor: pointer;
}

#booking-form .plus {
    top: 23px;
}

#booking-form .minus {
    bottom: 0px;
}

#booking-form .form-icon {
    position: relative;
}

#booking-form .ui-datepicker-trigger {
    position: absolute;
    right: 16px;
    top: 40px;
    color: #999;
    font-size: 16px;
    z-index: 99;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #booking-form .searchBack {
        width: calc(100% - 30px);
        max-width: 100%;
    }

    #booking-form .form-group {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    #booking-form .form-destination,
    .form-date-from,
    .form-date-to,
    .form-quantity {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    #booking-form .booking-form {
        padding: 35px 30px 51px 30px;
    }
} */


div#booking-form {
    background-color: black;
    /* opacity: 0.5; */
    border-radius: 10px;
}


input#datepicker1 {
    background-color: white;
    color: black;
    width: -webkit-fill-available;
}

input#datepicker2{
    background-color: white;
    color: black;
    width: -webkit-fill-available;
}

label {
    display: inline-block;
    color: white;
    font-size: 18px;
}

span.modify-qty.plus.mx-2 {
    color: white;
}
span.modify-qty.minus.mx-2 {
    color: white;
}
.form_quantity{

    display: flow-root;
}