img.hotel_mainImg {
    max-height: auto;
    min-height: 300px;
}

/* @media only screen and (min-width: 900px) {

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }
} */


@media only screen and (max-width: 600px) {
    img.hotel_mainImg {
        max-height: auto;
        min-height: auto;
    }
    .hide_gallery{

        display: none;
    }
    .forMobileGallery{
        display: block !important;
    }
    .forDesktopGallery{
        display: none !important;
    }

    .videoSource {
        max-width: 300px !important;
        max-height: 280px !important;

    }


    
  }

.navBarDetailPage{

    display: none;
}

  @media only screen and (max-width: 991px) {
    .navBarDetailPage{
        background-color: #003580;
        height: 135px;
        display: block;
    }

    .form-quantity {
        flex: 0 0 auto;
        width: 50% !important;
    }


    .form-quantity input {
        width: 42px !important;
    }

    div#booking-form {
        width: 401px !important
    }

    li.active {
        background-color:  #003580 !important;

    }

    .form-quantity{

        width: 20px;
    }

    img.mainLogo {
        position: absolute;
        width: 117px;
        top: 43px;
        z-index: 9999;
    }
    
    .logoName {
        left: 118px;
        position: absolute;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: black;
        line-height: 62px;
        margin-bottom: 7px;
        z-index: 9999;
        top: 100px;
    }


/* 
    .mainLogo{
        display: none;
    } */

    .desktopSlider{

        display: none;
    }

    .mobieSlider{

        margin-top: 110px;
    }

    .countSlider{
        font-size: var(--ifm-h5-font-size);
        background: black;
        max-width: max-content;
        border-radius: 2px;
        display: inline-block;
        opacity: 0.8;
    }

    .plusSign{


        position: absolute;
    right: 55px;
    width: 75%;
    
    
    }


    img.d-block.w-100.min_maxHeight_galleryList {
        /* width: 91px; */
        max-width: 70px;
    }

.alignFlex{

    display: contents;
}


img.d-block.w-100.min_maxHeight {
    min-height: 200px;
    max-height: 200px;
}



  }

  .forMobileGallery{
    display: none;
}



  
  @media only screen and (min-width: 1900px) {
  .card_home {
      width: 20rem;
  }

  main {
    padding-top: 210px;
}

  .plusSign{

    position: absolute;
    right: -0px;
    top: 308px;

}

.cardslider .card {
    max-height: 440px;
    min-height: 440px;

}


img.mainLogo {
    position: absolute;
    width: 200px;
    top: 22px;
    z-index: 1;
}

.logoName {
    width: 250px;
    left: 215px;
    position: absolute;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    line-height: 62px;
    margin-bottom: 7px;
}

.mobieSlider{

   display: none;
}


.gallery_images {
    max-height: 340px !important;
    min-height: 340px !important;
    max-width: 455px;
}


.full_screen{

    margin-top: 97px;
}


img.w-100.mb-2.mb-md-4.shadow-1-strong.rounded.gallery_img_height {
    min-height: 86px;
    max-height: 86px;
}

img.d-block.w-100.min_maxHeight_galleryList {
    min-height: 100px;
    max-height: 100px;
    max-width: 187px;
}

img.d-block.w-100.min_maxHeight {
    max-height: 650px;
    min-height: 650px;
}

.cardslider {
    display: flex;
}
  }
  @media only screen and (min-width: 1600px) and (max-width: 1899px) {
  .card_home {
      width: 20rem;
      min-height: 454px;
    max-height: 454px;
  }
  .plusSign{

    position: absolute;
    right: 0px;
    top: 340px;
    width: 28%;

    
}


main {
    padding-top: 211px;
}

img.mainLogo {
    position: absolute;
    width: 200px;
    top: 25px;
    z-index: 1;
}

.logoName {
    position: absolute;
    left: 213px;
    width: 250px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    line-height: 62px;
    margin-bottom: 7px;
}
.mobieSlider{

    display: none;
 }

 .gallery_images {
    max-height: 238px !important;
    min-height: 238px !important;
    max-width: 409px;
}

.hide_gallery{

    /* display: none; */
}

.margin_gallery{

    margin-top: 50px;

}

  }

  @media only screen and (min-width: 1501px) and (max-width: 1599px){

    .card_home {
        width: 20rem;
        min-height: 454px;
      max-height: 454px;
    }

    img.mainLogo {
        position: absolute;
        width: 182px;
        top: 27px;
        z-index: 1;
    }
    .logoName {
        /* margin-left: 155px; */
        width: 250px;
        position: absolute;
        /* display: none; */
        left: 174px;
        font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: black;
        line-height: 62px;
        margin-bottom: 7px;
    }

    .mobieSlider{

        display: none;
     }
    .hide_gallery{
    
        /* display: none; */
    }


    .gallery_images {
        max-height: 228px !important;
        min-height: 228px !important;
        max-width: 357px;
    }

    main {
        padding-top: 200px;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1500px){
  .card_home {
      width: 17rem;
      min-height: 454px;
    max-height: 454px;
  }

  main {
    padding-top: 200px;
}

  .plusSign{


    position: absolute;
    right: 0px;
    top: 362px;
    width: 30%;


}


img.mainLogo {
    position: absolute;
    width: 182px;
    top: 27px;
    z-index: 1;
    top: 30px;
    
}
.logoName {
    /* margin-left: 155px; */
    width: 250px;
    position: absolute;
    left: 177px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    line-height: 62px;
    margin-bottom: 7px;
    top: 130px;
}
.mobieSlider{

    display: none;
 }
.margin_gallery{

    margin-top: 53.5px;

}
.gallery_img {
    margin-top: 11px !important;
}

.hide_gallery{

    /* display: none; */
}

.gallery_images {
    max-height: 153px !important;
    min-height: 153px !important;
    max-width: 294px;
}
  }


  @media only screen and (min-width: 1000px) and (max-width: 1200px){
  .card_home {
      width: 12.5rem;
      min-height: 454px;
      max-height: 454px;
  }

  main {
    padding-top: 200px;
}
  .plusSign{


    position: absolute;
    right: 0px;
    top: 362px;
    width: 30%;


}
img.mainLogo {
    position: absolute;
    width: 153px;
    top: 50px;
    z-index: 1;
}

.logoName {
    /* margin-left: 155px; */
    width: 250px;
    position: absolute;
    /* display: none; */
    left: 148px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    line-height: 62px;
    margin-bottom: 7px;
    top: 130px;
}

.mobieSlider{

    display: none;
 }
.hide_gallery{

    /* display: none; */
}

.gallery_images {
    max-height: 156px !important;
    min-height: 156px !important;
    max-width: 294px;
}

  }


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--ifm-heading-color);
    font-family: var(--ifm-heading-font-family);
    font-weight: var(--ifm-heading-font-weight);
    line-height: var(--ifm-heading-line-height);
    margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}
h1 {
    font-size: var(--ifm-h1-font-size);
}
/* h2 {
    font-size: var(--ifm-h2-font-size);
} */
h3 {
    font-size: var(--ifm-h3-font-size);
}
h4 {
    font-size: var(--ifm-h4-font-size);
}
h5 {
    font-size: var(--ifm-h5-font-size);
}
h6 {
    font-size: var(--ifm-h6-font-size);
}


.brdetailmain h4 {
    color: #444444;
    font-size: 25px;
    margin-bottom: 5px;
	font-weight:bold;
}

.gotosrchrslt{

    margin-top: 10px;
}

.container.brdetailmain {
    margin-bottom: 100px;
}

/* .gallery{

     max-height: 50%; 
}  */


.brdetailmain p, .brdetailmain ul li{
    color: #444444;
    /* font-size: 15px; */
}




.col.lg.\34 {
    width: 300px;
    margin-top: 10px;
}

img.w-100.mb-2.mb-md-4.shadow-1-strong.rounded {
    border-radius: 10px;
}

img.w-100.shadow-1-strong.rounded {
    border-radius: 10px;
}

/* .header-bottom.header-sticky {
    background-color: #cccccc;
    opacity: 0.7;
    transition: 0.3s;
}

.header-bottom.header-sticky:hover {
    background-color: #cccccc;
    opacity: 1.0;
} */


.gallery_img{

    margin-top: 4px;

}

.gallery_images{

    max-height: 340px;
    min-height: 340px;
}


span.loginName {
    color: red;
    font-weight: bold;
}


#pagin {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul#pagin li {
    padding: 0.5em 0.7em;
}


ul#pagin li a {
    text-decoration: none;
    color: #686058;
    font-weight: 600;
    font-size: 20px;
}

ul#pagin li a.current {
    color: #fff;
    background-color: #686058;
    padding: 4px 12px;
    border-radius: 4px;
}

ul#pagin a:hover {
    text-decoration: underline;
}

.availability{

    box-shadow: 0px 0px 11px #ccc;
    border-radius: 4px;
}



 p.dicnt {
    text-align: center;
    background-color: #ec0517;
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    padding-bottom: 4px;
    padding-top: 4px;
}


.hr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 17px;
    padding-bottom: 17px;
    margin-left: 0px;
    margin-right: 0px;
}

p.pricehrdy {
    color: #a1a1a1;
    margin-bottom: 0;
    font-size: 16px;
}


input.datePicker {
    width: auto;
}

.navBar {
    background-color: black;
    height: 135px;
}

.booking-detail h1.header {
    font-size: 30px;
    color: #444444;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 600;
}

.bd-img {
    width: 100%;
    height: 335px;
}

.booking-detail .address p.locnm {
    font-size: 20px;
    margin: 0;
    color: #444444;
}
.booking-detail .address p.tornt {
    font-size: 17px;
    margin: 0;
    color: #444444;
}
.booking-detail .address p.bechs {
    font-size: 20px;
    margin: 0;
    color: #7C7C7C;
}

.booking-detail .address p.locnm {
    font-size: 20px;
    margin: 0;
    color: #444444;
}
.booking-detail .payment-card {
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 4px;
    padding: 3em 2.4em;
}
.payment-card button.btn.btn-primary {
    background-color: #ff671d;
    border-color: #ff671d;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
}
.payment-card ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    color: #444444;
}
.payment-card p.date {
    font-size: 20px;
    color: #444444;
}
.payment-card p.hours {
    font-size: 17px;
    color: #444444;
}
.payment-card .cost {
    background-color: #E5E5E5;
    padding: 7px 17px;
    font-size: 17px;
    margin-bottom: 1em;
}
.payment-card .cost ul li {
    padding: 0 6px;
}
.payment-card .totlcost li strong {
    font-size: 20px;
}
.payment-card  p.paradetail {
    color: #444444;
    font-size: 16px;
    margin: 2em 0;
}


hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}


.btn.btn-primary {
    background-color: #fff;
    border-color: #003580;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
}
.carousel-control-prev-icon:hover {
    background-color: #ff671d;
    border-color: #ff671d;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
}
.carousel-control-next-icon:hover {
    background-color: #ff671d;
    border-color: #ff671d;
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
}

#btn_loginpop_submit {
    background-color: #FF671D;
    color: white;
    height: 40px;
}

input#name {
    width: auto;
}
input#email {
    width: auto;
}
input#password {
    width: auto;
}
input#password_confirmation {
    width: auto;
}


.form_full {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container_form-bar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
}
.form_full h2:nth-child(1) {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 56px;
    text-transform: uppercase;
}
.left_one-hed .sidenav {
    position: absolute;
    height: auto;
    top: 0;
    border-radius: 5px;
}
.cat_r1 form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
} 

.form_full {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #ffff;
    border-radius: 30px;
    box-shadow: 1px 0px 5px 0px #b7b1b1;
    margin-top: 20px !important;
    float: left;
    width: 100%;
    margin-bottom: 2rem;
}
.form_full.sign_up {
    box-shadow: none;
    padding-top: 3rem;
    margin-bottom: 3rem;
}
.form_full .reg-btn-two-inner a {
    padding: 8px 25px;
    margin: 0px 10px;
    background: #5479bd;
    color: #fff;
    text-decoration: none;
    width: 50%;
    text-align: center;
    font-family: 'Poppins';
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}


.cardslider a.discavl {
    position: absolute;
    bottom: -4px;
    right: 0;
    background-color: #003580;
    color: #fff !important;
    text-decoration: none;
    padding: 2px 6px;
    font-size: 12px;
    z-index: 9;
    width: 58%;
    text-align: center;
    z-index: 1;
}

.cardslider .carousel-item img {
    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}

.cardslider a.pprpln {
    color: #fff !important;
    position: absolute;
    top: 3px;
    left: 5px;
    text-decoration: none;
    font-size: 14px;
    z-index: 1;
}





.card_Bedroom{

    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}




.amenity {
     border-style: solid;
    border-width: 1px;
    font-size: 10px;
    text-align: center;
    display: inline-block!important;
    width: auto!important;
    /* display: inline-table; */
    vertical-align: top;
    position: relative;
    top: 0;
    /* margin-right: 2px; */
}
.amenity label {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 14px -7px
}

.price_beroom{

    font-size: 18px;
    font-weight: 600;
    color: green;
}

.bedroom_title{

    font-size: 17px;
    font-weight: 700;
    font-family: var(--ifm-heading-font-family);
}

.rt_occ_above {

   display: inline-flex;
    float: none;
    text-align: left;
    width: auto;
}

/* .gallery_click_more{

    filter: blur(8px);
    -webkit-filter: blur(8px);
} */


h2.bedroom_name {
    background-color: #171717;
    border-radius: 10px;
    display: inline !important;
}


.navBarUL{

    /* background-color: #ec0517; */
    width: 110%;
}

 .price span {
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
}


.price_card{

    color: green; font-weight:600
}

li.active {
    background-color: black;
    line-height: 0rem;
    border-radius: 10px;
}


.videoSource{
    max-width: 500px;
    max-height: 280px !important;
}



.modal-header{

    background-color: #003580;
    color: #fff;
    font-weight: 500;
}

