
.listing_dashboard  .listing-info {
    padding-right: 4em;
}
.listing_dashboard .listing-info ul {
    list-style-type: none;
    padding-left: 0;
	font-family: 'Raleway';
}
.listing_dashboard .Profile,
.listing_dashboard .notificatiion,
.listing_dashboard .view-report{
	display: flex;
	align-items: center;
}
.listing_dashboard li.profile-username {
    font-size: 50px;
    background: #ff671d;
    color: #fff;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
}
.listing_dashboard li.profile-name {
    padding-left: 9px;
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: bold;
}
.listing_dashboard .listing-inbox-txt-top {
    font-size: 16px;
    font-weight: 600;
	padding-left: 2em;
}
.listing_dashboard .listing-inbox-txt-top strong {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
}
.listing_dashboard .listing-inbox-txt-btm a {
    color: #ff671d;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat';
	padding-left: 2.5em;
}
.listing_dashboard ul.notificatiion {
    padding: 1em 0;
    border-top: 1px solid #747474;
    border-bottom: 1px solid #747474;
}
.notificatiion li:nth-child(1) {
    text-align: center;
    width: 75px;
}
.listing_dashboard .boardroom-info li.info {
    font-size: 19px;
    font-weight: 500;
    line-height: 40px;
	padding-left: 8px;
}
.listing_dashboard .boardroom-info ul {
    display: flex;
}
.listing_dashboard  li.nmbers {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
	width: 100px;
}
.listing_dashboard .view-report img {
    padding-right: 1.5em;
	padding-bottom: 7px;
}
.listing_dashboard  ul.view-report {
    align-items: flex-end !important;
	 padding: 1em 0;
    border-top: 1px solid #747474;
    border-bottom: 1px solid #747474;
}
.listing_dashboard .view-report a.report-link {
    font-size: 21px;
    color: #000;
    text-decoration-thickness: from-font;
    font-weight: 600;
	padding-left: 4px;
}


.dashboard-listing .card .card-header .card-header-pending {
    background-color: #ff671d;
}

.dashboard-listing .card .card-header .card-header-active {
    background-color: #128609;
}


.dashboard-listing .card .card-header .card-header-incomplete  {
    background-color: #ff0000;
}
.dashboard-listing .card .card-header .card-header-text {
    float: left;
    padding: 2px 18px;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: 6px 0;
    font-family: 'Roboto', sans-serif;
}


.dashboard-listing .card-status-wrapper {
    width: auto;
    float: right;
    height: 30px;
}

.dashboard-listing .list-img {
    float: left;
}

.dashboard-listing .list-capacity, .dashboard-listing .host-email {
    margin-bottom: 1em;
}

.dashboard-listing .list-action ul.settings {
    list-style-type: none;
    padding-left: 24px;
    width: 100%;
    float: left;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

.dashboard-listing .list-action .settings a {
    color: #ff671d;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 4px 4px;
    border: 2px solid #ff671d;
    border-radius: 8px;
    display: block;
    margin-left: 5px;
}

.dashboard-listing .list-dtl p {
    color: #929292;
    font-size: 15px;
    font-family: 'Roboto';
    margin-bottom: 2px;
    font-weight: 500;
}

.dashboard-listing .list-hrs p {
    color: #343434;
}


h4.card-title.titleh4{
        color: #444444;
        font-size: 25px;
        margin-bottom: 5px;
        font-weight: bold;
    }
